/*избранное MainMenu*/
.wraper-box-menu{
    display: flex;
    align-items: last baseline;
    margin-left: auto;
}
.header__actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    .header__favorites-list {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      color: #fff;
      font-size: 1rem;
      text-decoration: none;
  
      .icon-favorite {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        margin-left: 0.5rem;
        color:currentColor;
  
        svg {
          width: 100%;
          fill: currentColor;
          padding-top: 0.3rem;
        }
  
        .count {
          position: absolute;
          top: -0.4rem;
          right: -0.8rem;
          font-size: 1rem;
        }
      }
    }
  
    .header__user {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 16px;
      text-decoration: none;
    }
  }
  
.text-white{
  color: white !important;
}
.text-red{
  color: red !important;
}