.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10000;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 560px;
	width: 100%;
	padding: 2rem;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 4px;

	.modal-header {
		margin-bottom: 1.5rem;
		font-size: 2rem;
	}


	.modal-content {
		font-size: 1rem;
		margin: 2rem;
		text-align: center;;
	}

	.modal-footer {
		margin-top: 2rem;
	}

	.button-wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}