* {
  margin:0;
  padding:0;
  }
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 200%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pt-10{
  padding-top:7rem;
}
.text-center{
  text-align: center;
}
.p-2{
  padding: 2rem;
}
.pr-1{
  padding-right: 1rem;
}
.pl-1{
  padding-left: 1rem;
}
.pt-5{
  padding-top: 5rem;
}
.card-img-top{
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.w-50{
  width: 200px;
}
.table {
  border-collapse: collapse !important;
  margin-left: auto;
  margin-right: auto;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: auto;
 
}
.table-bordered td {
  border: 1px solid #dee2e6;
}
.thead-dark th {
  color: #fff;
  background-color: #343a40;
  border: 1px solid #dee2e6;
  padding: 5px;
}
thead {
  display: table-header-group;
}
tr,
img {
  page-break-inside: avoid;
}
.small {
  font-size: 80% !important;
  font-weight: 400 !important;
}
.table-hover tbody tr:hover {
  background-color: rgba(32, 29, 29, 0.075);
}
.hidden{
  display: none !important;
}
.show{
  display: block !important;
}
.mx-auto{
margin-left: auto !important;
}